/*
!/app

/app/*
!/app/frontend

/app/frontend/node_modules
/app/frontend/.next
/app/frontend/out
/app/frontend/.git
/app/frontend/.github
/app/frontend/*.log
/app/frontend/.DS_Store
/app/frontend/.vscode
/app/frontend/.idea
/app/frontend/.env.local
/app/frontend/.env.development.local
/app/frontend/.env.test.local
/app/frontend/.env.production.local
/app/frontend/__tests__
/app/frontend/*.test.*
/app/frontend/*.spec.*
/app/frontend/storybook-static