<template>
    <div class="row">
        lolkek
    </div>
</template>

<script>

import moment from "moment";

export default {
    components: {
    },
    data(){
        return {
            task_id: this.$route.params.id,
        }
    },
    computed: {

    },
    created() {


    },
    methods: {

    }
};
</script>
