<template>
    <tr class="d-flex">
        <td class="col-sm-1" @click.ctrl.prevent="selectTd('task_id')" :class="{ 'table-primary': this.highlight.task_id }">
            <span v-if="!isEditMode" @dblclick="goEditMode" class="d-inline-block w-100 h-100"><a :href="sogema_url" target="_blank">{{ report.task_id }}</a></span>
            <input v-else type="text" class="form-control" @change="edit(report)" v-model="report.task_id">
        </td>

        <td class="col-sm-9" @click.ctrl="selectTd('text')" :class="{ 'table-primary': this.highlight.text }">
            <span v-if="!isEditMode" @dblclick="goEditMode" class="d-inline-block w-100 h-100"><router-link :to="{ name: 'task', params: { id: report.task_id }}">{{ report.text }}</router-link></span>
            <input v-else type="text" class="form-control" @change="edit(report)" v-model="report.text">
        </td>
        <td class="col-sm-1" @click.ctrl="selectTd('hours')" :class="{ 'table-primary': this.highlight.hours }">
            <span v-if="!isEditMode" @dblclick="goEditMode" class="d-inline-block w-100 h-100">{{ report.hours }}</span>
            <input v-else type="text" class="form-control" @change="edit(report)" @input="replaceComma" v-model="report.hours">
        </td>
        <td class="col-sm">
<!--            <button v-if="!report.id" v-on:click="saveReport(report)"> S </button>-->
            <button v-on:click="remove(report)" type="button" class="btn btn-outline-secondary btn-sm">X</button>
        </td>
    </tr>
</template>

<script>

export default {
    props: ['report'],
    data(){
        return {
            sogema_url: '',
            isEditMode: false,
            highlight: [
                task_id => false,
                text => false,
                hours =>  false,
            ],
        }
    },
    computed: {
    },
    created() {
        this.isEditMode = this.report.isNew;
        this.sogema_url = process.env.MIX_SOGEMA_URL + this.report.task_id
    },


    methods: {
        selectTd(fieldName) {
            this.$set(this.highlight, fieldName, !this.highlight[fieldName]);
            this.$copyText(this.report[fieldName].toString());
        },

        goEditMode() {
            this.isEditMode = true;
        },

        edit(report) {
            if(!report.id && report.task_id && report.text && report.hours) {
                this.saveReport(report);
            }
            if(!report.id) {
                return false;
            }
            const resp = axios.patch(`api/reports/${report.id}`, { report:report }).then(response => {
                this.$emit('updated', response.data.data);
            });

            this.isEditMode = false;
        },

        remove(report) {
            this.$emit('remove');

            if(!report.id) {
                return false;
            }

            const resp = axios.delete(`api/reports/${report.id}`).then(response => {
                // console.log(response.status)
            });
        },

        async saveReport(report) {

            report.date_on = this.$route.params.date ?? this.$root.currentStringDate;

            const resp = await axios.post("api/reports",{
                report: report
            });

            this.isEditMode = false;

            this.$emit('saveReport', resp.data.data);
        },

        replaceComma() {
            this.report.hours = this.report.hours.replace(',', '.');
        }
    }
};
</script>
