<template>
    <div class="row">
        <h3 class="display-4">{{ todayTitle }}</h3>

        <table class="table" v-if="reports">
            <thead>
            <tr class="d-flex">
                <th scope="col" class="col-sm-1">Task ID</th>
                <th scope="col" class="col-sm-9">Description</th>
                <th scope="col" class="col-sm-1">Hours [{{totalHours}}]</th>
                <th scope="col" class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
            <ReportRow v-for="(report, index) in reports" :report="report" :key="index"
                       v-on:updated="reportUpdated(index, $event)"
                       v-on:saveReport="saveReport(index, $event)"
                       v-on:remove="removeRow(index)"></ReportRow>
            </tbody>
        </table>
        <div>
            <button @click="addRow"> Add </button>
        </div>
    </div>
</template>

<script>

import moment from "moment";
import ReportRow from "./ReportRow";

export default {
    components: {
        ReportRow
    },
    data(){
        return {
            reports: [],
            todayTitle: this.$route.params.date ? moment(this.$route.params.date).format('D MMMM YYYY') : moment().format('D MMMM YYYY'),
            selectedDate: this.$route.params.date,
        }
    },
    computed: {
        totalHours() {
            let hours = this.reports.reduce(function (a, b) {
                return  +a + +b.hours;
            }, 0);

            return hours.toFixed(2);
        },
    },
    created() {
        let today = moment().format('YYYY-MM-DD');

        let searchDate = this.selectedDate ? this.selectedDate : today;

        this.getReportsByDate(searchDate).then(resp => {
            this.reports = resp;
        });

    },
    methods: {
        async getReportsByDate(today) {
            const response = await axios.post('/api/reports/show-by-date', {
                date: today
            });
            return response.data.data;
        },
        addRow(){
            this.reports.push({task_id: '', text: '', hours: '', isNew:true});
        },
        saveReport(index, newReport){
            this.$set(this.reports, index, newReport);
        },
        reportUpdated(index, updatedReport){
            this.$set(this.reports, index, updatedReport);
        },
        removeRow(index){
            this.reports.splice(index,1);
        },
    }
};
</script>
