<template>
    <div class="px-0">
        <h1 class="display-5">Task #{{ task_id }}</h1>
        <h2 class="display-7">Summary</h2>
        <div>
            <p>Total hours: <span v-if="totalHours">{{ totalHours }}</span></p>
            <p>Dates: <span v-for="(date, index) in dates" class="badge bg-light text-dark">
                <router-link :to="{name: 'home', params: { date: moment(date).format('YYYY-MM-DD') }}" >{{ moment(date).format('D MMMM YYYY') }} </router-link>
            </span>
            </p>
        </div>

        <h2 class="display-7 mt-3">Links</h2>

        <div class="row row-cols-1 row-cols-md-12">
            <div v-if="!hasLinks" class="alert" role="alert">
                No links...
            </div>
            <a @click.ctrl.prevent="removeLink(link.id, index)" v-for="(link, index) in links" :href="link.text" :key="link.id" target="_blank">{{link.text}}</a>
        </div>
        <form class="row row-cols-md-2 g-3 mt-3">
            <div class="col-auto">
                <input type="text" class="form-control" id="url" placeholder="Url" v-model="newLink">
            </div>
            <div class="col-auto">
                <button @click="addLink" type="button" class="btn btn-primary mb-3">Add</button>
            </div>
        </form>

        <h2 class="display-7 mt-3">Screenshots</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div v-if="!hasScreenshots" class="alert" role="alert">
                No screenshots...
            </div>
            <ScreenshotCard v-on:removeImage="removeImage($event, index)" v-for="(image, index) in images" :image="image" :key="image.uuid"></ScreenshotCard>
        </div>


        <h2 class="display-7 mt-3">Description</h2>
        <div>
            <VueEditor v-model="description" @text-change="saveDescription" />
        </div>


    </div>
</template>

<script>

import ScreenshotCard from "./screenshot/ScreenshotCard";
import { VueEditor } from "vue2-editor";
import moment from "moment";

export default {
    components: {
        ScreenshotCard,
        VueEditor
    },
    data(){
        return {
            images: [],
            task_id: this.$route.params.id,
            links: [],
            newLink: '',
            description: '',
            totalHours: 0,
            dates: 0,
            moment: moment,
        }
    },
    computed: {
        hasScreenshots: function () {
            return this.images.length > 0;
        },

        hasLinks: function() {
            return this.links.length > 0;
        },
    },
    created() {
        let task_id = this.task_id;

        this.getTaskById(this.task_id).then(resp => {
            this.description = resp.description;
            this.totalHours = resp.totalHours;
            this.dates = resp.dates;
        });

        this.getScreenshotByTaskId(this.task_id).then(resp => {
            this.images = resp.images;
        });

        this.getLinksByTaskId(this.task_id).then(resp => {
            this.links = resp.map(function (link) {
                return link;
            });
        });

        this.delayedSaveDescription = _.debounce(function (e) {
            const response = axios.post(`/api/tasks/save-description/${task_id}`, {
                description: this.description
            });
        }, 400);

        let context = this;
        let isPasting = false;
        document.addEventListener('paste', function(event){
            if (isPasting) {
                return;
            }
            isPasting = true;

            let items = event.clipboardData && event.clipboardData.items;
            let file = null;
            if (items && items.length) {
                //Retrieve clipboard items
                for (let i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                        file = items[i].getAsFile()
                    }
                }
            }
            if (!file) {
                isPasting = false;
                return;
            }
            let _this=this;
            let formData = new FormData();
            formData.append('screenshotFile', file);

            axios.post( `/api/screenshot/upload-screenshot/${task_id}`, formData,{
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(response => {
                context.images = response.data.data.images;
                isPasting = false;
            }).catch(error => {
                console.log(error);
                isPasting = false;
            });

        });
    },
    methods: {
        async getTaskById(id) {
            const response = await axios.get(`/api/tasks/get-by-id/${id}`);
            return response.data.data;
        },

        async getScreenshotByTaskId(id) {
            const response = await axios.get(`/api/screenshot/get-by-task-id/${id}`);
            return response.data.data;
        },

        async getLinksByTaskId(id) {
            const response = await axios.get(`/api/link/get-all-by-task-id/${id}`);
            return response.data.data;
        },

        async removeImage(uuid, index) {
            const response = await axios.delete(`/api/screenshot/remove-id/${this.task_id}/${uuid}`);
            this.images.splice(index,1);
            return response.data.data;
        },

        async removeLink(id, index) {
            const response = await axios.delete(`/api/link/remove-id/${id}`);
            this.links.splice(index,1);
            return response.data.data;
        },

        async addLink() {
            const response = await axios.post(`/api/link/add-on-task-id/${this.task_id}`, {
                link: this.newLink
            });

            this.links.push(response.data.data);
            this.newLink = null;
        },

         saveDescription() {
             this.delayedSaveDescription();
        },

    },
    mounted() {


    },


};
</script>
