<template>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <router-link :to="{name: 'home', params: { date: null }}" @click.native="resetGoDate" class="navbar-brand" aria-current="page">TLogger</router-link>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto d-flex me-2">
                    <li class="nav-item">
                        <router-link :to="{name: 'home', params: { date: moment().format('YYYY-MM-DD') }}" @click.native="resetGoDate" class="nav-link active" aria-current="page">Today</router-link>
                    </li>
<!--                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>-->
                </ul>

                <div class="d-flex me-2">
                    <vue-autosuggest
                        v-model="currentValue"
                        :suggestions="suggestions"
                        :input-props="{id:'autosuggest__input', placeholder:'Task ID'}"
                        @input="onInputSuggestChange"
                        @selected="handleSelectedTask"
                    >
                        <template v-slot="{suggestion}">
                            <span class="my-suggestion-item">{{suggestion.item}}</span>
                        </template>
                    </vue-autosuggest>
                </div>
                <div class="d-flex me-2">
                    <date-picker
                        placeholder="Go to date..."
                        :lang="lang"
                        :disabled-date="disableWeekends"
                        v-model="selectedDate"
                        valueType="format"
                        @pick="setUrlDate">
                    </date-picker>
                </div>
                <div class="d-flex">
<!--                    <router-link :to="{name: 'home', params: { date: null }}"  class="nav-link">Exit</router-link>-->
                    <a class="nav-link" href="/auth/logout">Exit</a>

                </div>
            </div>
        </div>


    </nav>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

import { VueAutosuggest } from 'vue-autosuggest';

import moment from "moment";
import router from "../routes";

export default {
    components: {
        DatePicker,
        VueAutosuggest
    },
    data(){
        return {
            currentValue: '',
            lang: {
                formatLocale: {
                    firstDayOfWeek: 1,
                },
            },
            selectedDate: this.$route.params.date,
            suggestions: [],
            moment: moment,
        };
    },
    computed: {

    },
    created(){

    },
    mounted() {

    },
    methods: {
        resetGoDate() {
            this.selectedDate = null;
        },
        handleSelectedTask(selectedItem) {

            if(parseInt(router.currentRoute.params.id) === parseInt(selectedItem.item)) {
                return;
            }else {
                router.push({ name: 'task', params: { id: selectedItem.item } });
            }

            this.$nextTick(() => {
                this.currentValue = '';
            });
        },

        onInputSuggestChange(taskId) {
            if (taskId === '' || taskId === undefined) {
                return;
            }

            if (taskId.length <= 2) {
                return;
            }

            return axios.get(`/api/reports/search-task-list/${taskId}`)
                .then(response => {
                    this.suggestions = [{
                        data: response.data
                    }];
                });
        },

        disableWeekends (date) {
            const day = new Date(date).getDay()
            return day === 0 || day === 6
        },

        setUrlDate(date) {
            let formattedDate = moment(date).format('YYYY-MM-DD');
            if(this.$route.params.date !== formattedDate) {
                router.push({ name: 'home', params: { date: formattedDate } });
            }
        },
    }
};
</script>

<style>
.mx-table-date .today {
    border: 1px solid #00000047;
}
</style>
