<template>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="alert alert-danger" role="alert" v-if="error !== null">
                {{ error }}
            </div>

            <div class="card card-default">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form class="row g-3">
                        <div class="col-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" v-model="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-6">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" v-model="password" class="form-control" id="Password">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                Login
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import router from "../routes";

export default {
    data() {
        return {
            isLogged: window.laravel.isLogged,
            email: '',
            password: '',
            error: null
        }
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault()
            if (this.password.length > 0) {
                axios.get('/sanctum/csrf-cookie').then(response => {
                    axios.post('/auth/login', {
                        email: this.email,
                        password: this.password
                    })
                        .then(response => {
                            if (response.data.success) {
                                window.laravel.isLogged = true;
                                // router.push({ name: 'home', params: { date: null }});
                                window.location.href = '/';

                            } else {
                                this.error = response.data.message
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                })
            }
        }
    },
    beforeRouteEnter(to, from, next) {
        if (window.laravel.isLogged) {
            return next('/');
        }
        next();
    }
}
</script>
