<template>
    <div @click.ctrl.prevent="removeImage(image.uuid)" class="col">
        <a :href="image.original_url" target="_blank">
            <div class="card h-100">
                <img :src="image.original_url" class="card-img-top" alt="">

                <!--                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>-->
            </div>
        </a>
    </div>
</template>

<script>

import moment from "moment";

export default {
    props: ['image'],

    components: {
    },
    data(){
        return {
        }
    },
    computed: {

    },
    created() {


    },
    methods: {
        removeImage(uuid) {
            this.$emit('removeImage', uuid);
        }
    }
};
</script>
