<template>
    <div>
        <Nav v-if="isLogged"></Nav>
        <div class="container mt-4 mb-4 pe-4 ps-4">
            <router-view :key="$route.fullPath"></router-view>
        </div>
    </div>
</template>


<script>
import Nav from "./parts/Nav";

export default {
    components: {
        Nav
    },
    data(){

        return {
            isLogged: window.laravel.isLogged
        }
    },
    computed: {

    },
    methods: {

    },
    created() {
    }
    /*    beforeRouteEnter() {
            if (!window.laravel.isLogged && this.$route.name !== 'login') {
                window.location.href = "/login";
            }
        },*/

};
</script>
